.root {
    -fx-padding:     10;
    -fx-font-family: 'Nunito';
    -fx-font-size: 16px;
    -fx-background-color: rgb(255, 252, 246);
    -fx-text-fill: rgb(82, 78, 78);
}

/* sett all backgrounds here */
.split-pane,
.bird-overview,
.table-view {
    -fx-background-color: rgb(255, 252, 246);
}

/* ====== Toolbar ====== */
.toolbar {
    -fx-padding: 10px;
    -fx-min-height: 50px;
}

.toolbar .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 10px;
}

.toolbar .button:hover {
    -fx-fill: rgb(128, 0, 0);
}

.toolbar .button:pressed {
    -fx-background-color: rgb(206, 158, 158);

}

.toolbar .button:disabled {
    -fx-opacity: 0.3;
}

.toolbar .button .graphic {
    -fx-padding: 5px;
}

/* ====== MainView ====== */
.main-view .bird-overview,
.main-view .bird-profile {
    -fx-padding: 20px;
}

.split-pane {
    -fx-background-color: rgb(255, 252, 246);
    -fx-border-color: rgb(219, 201, 165);
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-background-color: rgb(219, 201, 165);
    -fx-border-radius: 5px;

}

/* ====== BirdOverview ====== */
.table-view {
    -fx-background-color: rgb(255, 252, 246); 
    -fx-min-height: 800px;
    -fx-padding: 20px 0 0 0;
}

.table-view .column-header-background {
    -fx-background-color: rgb(219, 201, 165);
}

.table-view .column-header .label {
    -fx-alignment: center-left;
}

/* Customized scrollbar styling achieved by lots of googling.. */
.table-view .scroll-bar:vertical {
    -fx-background-color: #F0F0F0;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #D3D3D3;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #808080;
}

/* Customize the horizontal scroll bar */
.table-view .scroll-bar:horizontal {
    -fx-background-color: #F0F0F0;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #D3D3D3;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #808080;
}


/* ====== BirdHeader ====== */
.header-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: rgb(128, 0, 0);
    -fx-alignment: center-left;
}

.header-labels {
    -fx-min-width: 200px;
}

/* ====== BirdBio ====== */
.bird-bio {
    -fx-padding: 10px 0;
}

.bird-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: rgb(128, 0, 0);
    -fx-alignment: center-left;
}

.bird-image {
    -fx-font-size: 24px;
    -fx-alignment: center-right;
}

.bird-image img {
    -fx-border-color: rgb(219, 201, 165);
    -fx-border-width: 5px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

/* ====== BirdEditor ====== */
.bird-editor {
    -fx-padding: 10px 0;
}

.bird-editor .label {
    -fx-padding: 0 30px 0 0;
}

.bird-editor .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgb(128, 0, 0);
    -fx-border-style: none none solid;
    -fx-border-width: 0px 0px 1px 0px;
}